.container {
  position: relative;
  width: 1920px;
  height: 1080px;
}

.noZoom {
  position: absolute;
  left: 920px;
  width: 1000px;
  height: auto;
}

.withZoom {
  position: absolute;
  left: 0px;
  top: 0;
  width: 1920px;
  height: auto;
}
